<header class="header">
    <div class="wrapper">
        <div class="header__content">

            <div class="header__logo">
                <a class="header__logo-link" href="./index.html">
                    <img class="header__logo-pic" src="./assets/icons/logo.svg" alt="Coffee House">
                </a>
            </div>

            <nav class="header__nav">
                <ul class="header__list"></ul>
            </nav>

            <div class="header__actions">
                <div data-component="./components/theme-switcher/theme-switcher.html"
                    data-style="./components/theme-switcher/theme-switcher.css"
                    data-script="./components/theme-switcher/theme-switcher.js">Theme Switcher</div>

                <div class="header__menu-link"></div>

                <div class="header__burger" data-component="./components/burger-menu/burger-menu.html"
                    data-style="./components/burger-menu/burger-menu.css"
                    data-script="./components/burger-menu/burger-menu.js">
                </div>
            </div>
        </div>
    </div>
</header>