/* Оболочка секции */
.wrapper__hero {
    height: 644px;
    padding: 79px 100px;
    border-radius: 40px;
    background: url('../../assets/img/hero/img-hero.jpg') no-repeat left -28px;
    background-size: cover;
}

/* Блок контента секции */
.hero__content {
    max-width: 530px;
    color: var(--text-color-inverse);
    margin-top: 20px;
}

/* Заголовок секции */
.hero__title {
    margin-bottom: 40px;
}

/* Описание секции */
.hero__lead {
    margin-bottom: 40px;
    font: var(--font-body-medium);
}

/* Кнопка перехода в Меню */
.hero__btn-menu {
    background-color: var(--background-color-body);
    transition-property: padding-right;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hero__btn-menu:hover {
    padding-right: 20px;
    background: url('../../assets/icons/coffee-cup.svg') no-repeat 120px 20px;
    background-color: var(--background-color-body);
}