<section id="hero" class="wrapper wrapper__section hero">
    <div class="wrapper__hero">

        <div class="hero__content">

            <h1 class="hero__title">
                <span class="accent">Enjoy</span> premium coffee at our charming cafe
            </h1>

            <p class="hero__lead">
                With its inviting atmosphere and delicious coffee options, the Coffee House Resource is a
                popular destination for coffee lovers and those seeking a warm and inviting space to enjoy their
                favorite beverage.
            </p>

            <a class="btn btn__oval link hero__btn-menu" href="./menu.html">
                Menu
            </a>

        </div>
    </div>
</section>