<section id="mobile-app" class="wrapper wrapper__section download">
    <div class="wrapper__download">
        <div class="download__content">

            <div class="download__info">

                <h2 class="download__title">
                    <em class="title__accent">Download</em> our app <br> to start ordering
                </h2>

                <p class="download__lead">
                    Download the Resource app today and experience the comfort of ordering
                    your favorite coffee from wherever you are
                </p>

                <div class="download__buttons">
                    <a class="btn btn__oval link download__btn appstore transition"
                        href="https://www.apple.com/app-store/" target="_blank" rel="noopener noreferrer">
                        <span class="download__btn-text">
                            <span class="caption">Available on the</span>
                            <span>App Store</span>
                        </span>
                    </a>

                    <a class="btn btn__oval link download__btn googleplay transition"
                        href="https://play.google.com/store" target="_blank" rel="noopener noreferrer">
                        <span class="download__btn-text">
                            <span class="caption">Available on</span>
                            <span>Google Play</span>
                        </span>
                    </a>

                </div>
            </div>

            <div class="download__image">
                <img class="download__pic" src="./assets/img/app/mobile-screens.png"
                    alt="Coffee House mobile app screens">
            </div>

        </div>
    </div>
</section>