<footer id="contact" class="footer">
    <div class="wrapper">
        <div class="footer__content">

            <div class="footer__content-left">
                <h2 class="footer__title">
                    <span class="light">Sip, Savor, Smile.</span>
                    <span class="accent">It’s coffee time!</span>
                </h2>
                <div class="footer__social">
                    <a class="btn btn__round footer__social-btn twitter transition"
                        href="https://twitter.com/VasilyeuUV" target="_blank"></a>
                    <a class="btn btn__round footer__social-btn instagramm transition"
                        href="https://www.instagram.com/blade.b.b/" target="_blank"></a>
                    <a class="btn btn__round footer__social-btn facebook transition"
                        href="https://www.facebook.com/profile.php?id=61554115852307" target="_blank"></a>
                </div>
            </div>

            <div class="light footer__content-right">
                <h3 class="footer__contact-title">Contact us</h3>
                <a class="light interactive__link footer__link footer__contact-adress"
                    href="https://www.google.com/maps/place/Green+Rd,+Louisiana+70634,+%D0%A1%D0%A8%D0%90/@30.5420931,-93.0218398,10z"
                    target="_blank">8558 Green Rd., LA</a>
                <a class="light interactive__link footer__link footer__contact-phone" href="tel:+16035550123">+1 (603)
                    555-0123</a>
                <p class="light footer__link footer__contact-clock">Mon-Sat: 9:00–23:00</p>
            </div>

        </div>
    </div>
</footer>