<section id="catalog" class="wrapper wrapper__section catalog">
    <div class="wrapper__catalog">

        <div class="catalog__header">
            <h1 class="visually-hidden"> Resource Coffee House. Menu </h1>
            <h2 class="catalog__title">
                Behind each of our cups hides an
                <em class="title__accent">amazing surprise</em>
            </h2>

            <nav class="catalog__categories" aria-label="catalog categories">

                <button class="btn btn__oval link catalog__btn-category catalog__btn-category-active" type="button" data-category="coffee">
                    <span class="catalog__category-icon">
                        <img src="./assets/icons/cap-icon.svg" alt="Coffee icon">
                    </span>
                    <span>Coffee</span>
                </button>

                <button class="btn btn__oval link catalog__btn-category" type="button" data-category="tea">
                    <span class="catalog__category-icon">
                        <img src="./assets/icons/tea-icon.svg" alt="Tea icon">
                    </span>
                    <span>Tea</span>
                </button>

                <button class="btn btn__oval link catalog__btn-category" type="button" data-category="dessert">
                    <span class="catalog__category-icon">
                        <img src="./assets/icons/dessert-icon.svg" alt="Dessert icon">
                    </span>
                    <span>Dessert</span>
                </button>

            </nav>
        </div>

        <div class="catalog__products"></div>

    </div>
</section>