/* Главный контейнер хедера */
.header__content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
}

.header__content:last-child {
  margin-right: 0;
}

/* Логотип */
.header__logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

/* Навигация */
.header__nav {
    display: flex;
    justify-content: center;
    margin-right: 45px;
}

/* Спсисок пунктов навигации */
.header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 6px;
}

/* Блок управления */
.header__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 6px;
}



/* =========================================================
   MENU ITEM
   ========================================================= */

/* Пункт меню */
.header__burger-link {
    display: inline-block;
    padding-right: 29px;
    background: url('../../assets/icons/coffee-cup.svg') no-repeat right top;
}

/* Отключаем клики по активной ссылке Menu */
.header__burger-link--active {
    cursor: default;
    pointer-events: none;
    color: var(--text-color-primary) !important;

    border-bottom: 2px solid var(--text-color-primary);
    padding-bottom: 2px; 
    margin-top: 1px;
}