.header__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
}

.header__logo {
    margin-top: 10px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 93px;
    margin-top: 8px;
}

.header__item {
    margin-right: 40px;
}

.header__burger-link {
    display: inline-block;
    padding-right: 29px;
    margin-top: 6px;
    background: url('../../assets/icons/coffee-cup.svg') no-repeat right top;
}