<header class="header">
    <div class="wrapper">
        <div class="header__content">

            <div class="header__logo">
                <a class="header__logo-link" href="./index.html">
                    <img class="header__logo-pic" src="./assets/icons/logo.svg" alt="Coffee House">
                </a>
            </div>

            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a class="link interactive__link" href="./index.html#favorite">Favorite coffee</a>
                    </li>
                    <li class="header__item">
                        <a class="link interactive__link" href="./index.html#about">About</a>
                    </li>
                    <li class="header__item">
                        <a class="link interactive__link" href="./index.html#mobile-app">Mobile app</a>
                    </li>
                    <li class="header__item">
                        <a class="link interactive__link" href="./index.html#contact">Contact us</a>
                    </li>
                </ul>
            </nav>

            <button class="theme-switcher" type="button" aria-label="Switch color theme">
                <!-- Theme switcher -->
            </button>

            <a class="link interactive__link header__burger-link" href="./menu.html">Menu</a>
        </div>
    </div>
</header>