<section id="favorite" class="wrapper wrapper__section favorite">
    <div class="wrapper__favorite">

        <h2 class="favorite__title">
            Choose your <em class="title__accent">favorite</em> coffee
        </h2>

        <div class="favorite__slider">

            <button class="favorite__slider--button button__prev" type="button" aria-label="Previous slide">
                <span aria-hidden="true"></span>
            </button>

            <div class="favorite__slider--viewport">
                <div class="favorite__slider--track">

                    <div class="favorite__empty">
                        <img class="favorite__empty--logo" src="./assets/icons/logo.svg" alt="Coffee House">

                        <p class="favorite__empty--message">
                            You don't have any favorite coffee yet.
                        </p>
                    </div>

                </div>
            </div>

            <button class="favorite__slider--button button__next" type="button" aria-label="Next slide">
                <span aria-hidden="true"></span>
            </button>

        </div>

        <div class="favorite__slider--pagination"></div>

    </div>
</section>