<section id="about" class="wrapper wrapper__section about">
    <div class="wrapper__about">

        <div class="about__text">
            <h2 class="about__title">
                Resource is
                <em class="title__accent">the perfect and cozy place</em>
                where you can enjoy a variety of hot beverages, relax, catch up
                with friends, or get some work done.
            </h2>
        </div>

        <div class="about__cards">
            <div class="about__column">
                <figure class="about__card about__card--large">
                    <img class="about__card-pic" src="./assets/img/about/about-1.jpg" alt="Coffee house interior">
                </figure>

                <figure class="about__card about__card--small">
                    <img class="about__card-pic" src="./assets/img/about/about-2.jpg" alt="Coffee house interior">
                </figure>
            </div>

            <div class="about__column">
                <figure class="about__card about__card--small">
                    <img class="about__card-pic" src="./assets/img/about/about-3.jpg" alt="Coffee house interior">
                </figure>

                <figure class="about__card about__card--large">
                    <img class="about__card-pic" src="./assets/img/about/about-4.jpg" alt="Coffee house interior">
                </figure>
            </div>
        </div>

    </div>
</section>